.tytle {
  color: blue;
  /* 余白を開けてあげる！margin */
  margin-left: 20px;
}

.R {
  color: blueviolet;
  padding-left: 20px;
}


[data-bs-theme="red"] {
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: #{to-rgb($white)};
  --bs-body-bg: var(--bs-blue);
  --bs-body-bg-rgb: #{to-rgb($blue)};
  --bs-tertiary-bg: #{$blue-600};

  .dropdown-menu {
    --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
    --bs-dropdown-link-active-bg: #{$blue-700};
  }

  .btn-secondary {
    --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 0, 0, 0.2);
  }
}

.description {
  line-height: 175%;
  color: #303030;
  font: 300 13px/1.8em 'futura-pt', 'noto sans japanese', sans-serif;
}

.TT {
  color: #303030;
  font: 350 27px/0.9em 'futura-pt', 'noto sans japanese', sans-serif;
  margin: 0 0 20px;
}

/* .row {
  color: #000000;
  font: 400 27px/0.9em 'futura-pt', 'noto sans japanese', sans-serif;
  margin: 0 0 20px;
} */


.overray {
  height: 450px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

* {
  list-style: none;
}

img {
  width: 100%;
}

.slider {
  width: 300px;
  margin: 50px auto 0;
}

.slick-prev::before,
.slick-next::before {
  color: black !important;
}

