.tytle {
  color: blue;
  /* 余白を開けてあげる！margin */
  margin-left: 20px;
}

.R {
  color: blueviolet;
  padding-left: 20px;
}


[data-bs-theme="red"] {
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: #{to-rgb($white)};
  --bs-body-bg: var(--bs-blue);
  --bs-body-bg-rgb: #{to-rgb($blue)};
  --bs-tertiary-bg: #{$blue-600};

  .dropdown-menu {
    --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
    --bs-dropdown-link-active-bg: #{$blue-700};
  }

  .btn-secondary {
    --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 0, 0, 0.2);
  }
}

.description {
  line-height: 175%;
  color: #303030;
  font: 300 13px/1.8em 'futura-pt', 'noto sans japanese', sans-serif;
}

.TT {
  color: #303030;
  font: 350 27px/0.9em 'futura-pt', 'noto sans japanese', sans-serif;
  margin: 0 0 20px;
}

/* .row {
  color: #000000;
  font: 400 27px/0.9em 'futura-pt', 'noto sans japanese', sans-serif;
  margin: 0 0 20px;
} */


.overray {
  height: 450px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

* {
  list-style: none;
}

img {
  width: 100%;
}

.slider {
  width: 300px;
  margin: 50px auto 0;
}

.slick-prev::before,
.slick-next::before {
  color: black !important;
}

/*ボタンの形状*/
.float3 {
  position: relative;
  top: 0;
  /* padding:10px 20px; */
  display: inline-block;
  /* border: 1px solid #ccc; */
  color: #333;
  text-decoration: none;
  outline: none;
  /*アニメーションの設定*/
  transition: all .3s;
}

/*hoverをしたらボックスに影がつき、上に上がる*/
.float3:hover {
  top: -5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}


.Acenter {
  text-align: center;
}




/* リンクボタン */





/*--- 線から塗り（共通設定） ---*/

.btn05 {
  /*線の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  display: inline-block;
  color: #333;
  padding: 10px 20px;
  background: #eee;
  text-decoration: none;
  outline: none;
  /*アニメーションの指定*/
  transition: all .3s;
  transition-delay: .7s;
  /*0.7秒遅れてアニメーション*/
}

/*hoverした際の、ボタンの背景とテキスト色の変更*/
.btn05:hover {
  background: #333;
  color: #fff;
}

/*線の設定*/
.btn05 span {
  display: block;
}

/*横線の設定*/
.btn05::before,
.btn05::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  /*線の形状*/
  width: 0;
  height: 1px;
  background: #333;
  /*アニメーションの指定*/
  transition: all 0.2s linear;
}

/*縦線の設定*/
.btn05 span::before,
.btn05 span::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  /*線の形状*/
  width: 1px;
  height: 0;
  background: #333;
  /*アニメーションの指定*/
  transition: all 0.2s linear;
}

/*hoverした際、線が縦横100%伸びる*/
.btn05:hover::before,
.btn05:hover::after {
  width: 100%;
}

.btn05:hover span::before,
.btn05:hover span::after {
  height: 100%;
}

/*== 左下⇒右下⇒右上⇒左上⇒左下に枠線が伸びて塗りに */

/*左下から右下へ伸びる横線*/
.bordercircle2::after {
  left: 0;
  bottom: 0;
}

/*右下から上へ伸びる縦線*/
.bordercircle2 span::after {
  right: 0;
  bottom: 0;
  transition-delay: 0.2s;
}

/*右上から左上へ伸びる横線*/
.bordercircle2::before {
  right: 0;
  top: 0;
  transition-delay: 0.4s;
}

/*左上から左下へ伸びる横線*/
.bordercircle2 span::before {
  left: 0;
  top: 0;
  transition-delay: 0.6s;
}





